@model IEnumerable<VehiclePartViewModel>

@{
    ViewData["Title"] = "ViewList";
}

<h2>ViewList</h2>

<table class="table table-striped table-borderless table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehiclePartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @item.Price.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-center">
                    <form asp-action="DeleteConfirmation" asp-route-id="@item.VehiclePartId" method="get">
                        <a asp-action="View" asp-route-id="@item.VehiclePartId" class="btn btn-sm btn-success">
                            View
                        </a>
                        <a asp-action="Update" asp-route-id="@item.VehiclePartId" class="btn btn-sm btn-warning">
                            Edit
                        </a>
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Create">Add part</a>
</div>