@model IEnumerable<VehicleTypeViewModel>

@{
    ViewData["Title"] = "ViewList";
}

<h2>ViewList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxCoeff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxCoeff)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.VehicleTypeId }) |
                @Html.ActionLink("View", "View", new { id = item.VehicleTypeId }) |
                @Html.ActionLink("DeleteConfirmation", "DeleteConfirmation", new {  id=item.VehicleTypeId  })
            </td>
        </tr>
}
    </tbody>
</table>
